  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-6 d-none d-md-block img_block">
              <img src="/assets/insurancePolicy.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-6 px-3 d-flex align-items-center">
              <div class="card-body text-black">

                

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Member Registration</span>
                  </div>

                  <div *ngIf="isAlert1" class="alert alert-primary" role="alert">
                    {{alertMessage}}
                 </div>
                 <label style="color: red;">{{ErrorMessage}}</label>
                  
                  
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example1">First Name </label>
                      <input type="text" id="form2Example1" [(ngModel)]="MemberDataModel.memberFirstName" class="form-control form-control-lg" placeholder="Enter First Name"/>
                      
                    </div>
                    <div class="form-outline mb-1">
                        <label class="form-label" for="2">Last Name </label>
                          <input type="text" id="form2Example2" [(ngModel)]="MemberDataModel.memberLastName" class="form-control form-control-lg" placeholder="Enter Last Name" />
                          
                        </div>
                  <!-- <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example2">UserName </label>
                    <input type="text" id="form2Example2" [(ngModel)]="MemberDataModel.memberUsername" class="form-control form-control-lg" placeholder="Enter Username"/>
                    
                  </div>
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example3">memberPassword </label>
                      <input type="number" id="form2Example3" [(ngModel)]="MemberDataModel.memberPassword" class="form-control form-control-lg" placeholder="Enter Password"/>
                      
                    </div> -->
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example3">Email </label>
                      <input type="email" id="form2Example3" [(ngModel)]="MemberDataModel.memberEmail" class="form-control form-control-lg" placeholder="Enter Email"/>
                      
                    </div>
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example4">Address</label>
                    <input type="text" id="form2Example4" [(ngModel)]="MemberDataModel.memberAddress" class="form-control form-control-lg" placeholder="Enter Address"/>
                    
                  </div>
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example5">State</label>
                    <input type="text" id="form2Example5" [(ngModel)]="MemberDataModel.memberState" class="form-control form-control-lg" placeholder="Enter State" />
                    
                  </div>
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example6">City</label>
                    <input type="text" id="form2Example6" [(ngModel)]="MemberDataModel.memberCity" class="form-control form-control-lg" placeholder="Enter City"/>
                    
                  </div>
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example7" >DOB</label>
                    <input type="date" max="{{date | date:'yyyy-MM-dd'}}"  class="form-control" [(ngModel)]="MemberDataModel.memberDateOfBirth" id="form2Example7" placeholder="Select Date">
                    
                  </div>
                  
                  <div class="pt-1 mb-1">
                    <button class="btn btn-dark btn-lg btn-block" (click)="registerUser()" type="button">Register</button>
                    &nbsp; <button class="btn btn-dark btn-lg btn-block" type="button"><a [routerLink]="['/register']" style="color:white">
                      Back</a></button>
                  </div>
                  <br/>
                  <!-- <label style="color: red;">{{ErrorMessage}}</label> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

